html {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    margin: 0.5rem;
    padding: 1rem;
    background: rgb(41, 41, 133);
    color: white;
    font-size: larger;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: rgb(55, 55, 179);
}

button:focus {
    background: rgb(41, 41, 133);
    transform: scale(0.98);
}

button:disabled {
    background: rgb(41, 41, 133);
    opacity: 0.5;
    cursor: not-allowed;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.controls {
    align-self: baseline;
}

.control{
    display: flex;
    gap: 4px;
}

.keyImg {
    height: 36px;
    align-self: center;
}

#myCanvas {
    border: 1px solid #000000;
    width: 75%;
    align-self: self-end;
}
